coverage
.bundle
pkg
.DS_Store

# Ignore those gems
vendor/gems
*.gem
bin/

# Ignore tmp files
.sass-cache
tags

# Ignore ruby version manager stuff
.rbenv-version
.ruby-*

# Ignore .env, because secrets
.env